@{
  Layout = "_Layout";
}
<div class="section__intro">
  <div class="section__intro-content">
    <h1>Hi, I'm Adeyemi Onibokun</h1>
    <p>
      I am a Software Engineer who loves to solve
      problems in creative ways
    </p>
    <a href="home/skills" class="section__intro--button">
      Next <i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </div>
  <div class="section__intro-content">
    <img class="section__intro-content--image" src="~/images/undraw_server_push_vtms (2).svg" />
  </div>
</div>
