@{
    Layout = "_Layout";
}
<div class="skills-section">
    <ul>
        <li>Technologies used</li>
        <li>C#/.Net</li>
        <li>Javascript</li>
        <li>Python</li>
        <li>React</li>
        <li>Express</li>
        <a href="/home/projects" class="skills-section--button">
            Next <i class="fas fa-long-arrow-alt-right"></i></a>
    </ul>
</div>